.soc {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include align-center ();
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color var(--timing-function),
  background-color var(--timing-function);
  fill: currentColor;
  &:hover,
  &:focus {
    /*  підсв на білом синім   */
    background-color: var(--accent-backgroud);
    color: var(--accent-text);
  }
}

.soc-item {
  color: var(--accent-text);
}
