:root {
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* колір текста основного #757575*/
    /* колір текста для заголовок #212121 */
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    /* акцентный колір фону #2196F3*/
    /* акцентный колір тексту #FFFFFF*/
    --acсent-backgroud: #2196F3;
    --accent-text: #FFFFFF;
    /* колір фона основний  #FFFFFF */
    /* колір фона для Hero та footer #2F303A*/
    --background-color: #F5F4FA;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
}
.current {
    /* --acсent-backgroud: #2196F3; синий */
    color: var(--acсent-backgroud);
}

