/* ------------------заголовок с навигацией------------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

/* короб для лого та кoроба с навигацией та контактами */
.header__container {
  @include align-center();
}

/* короб для ссылок с навигацией по сайту  */
.navigation {
  @include align-center();
}

/* короб для телеф та емайла */
.header__connect {
  margin-left: auto;
  
}

// відступ від лого, який є тільки в header
.header__logo {
  margin-right: 93px;
}

/*  элементы навигации по сайту /сайт портфолио контакты */
.navigation {
  gap: 50px;
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--secondary-text-color);
}

.navigation__link {
  transition: var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-backgroud);
  }
}

.navigation__item {
  position: relative;
  &::after {
    position: absolute;
    left: 0px;
    top: 46px;
    content: '';
    width: 100%;
    height: 4px;
    background: var(--accent-backgroud);
    border-radius: 2px;
  }
}

/* ========== номера телефона и емайла====== */
.connect {
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--primary-text-color);
  fill: currentColor;
  transition: color var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-backgroud);
  }
}

.connect__item {
  margin-right: 30px;
}

.connect__icon {
  margin-right: 10px;
}
